<%= form_for @question do |f| %>
  <p>
    <%= f.label :Question%><br>
    <%= f.text_area :question %>
  </p>

  <p>
    <%= f.label :Answer_id %><br>
    <%= f.text_field :answer_id %>
  </p>

  <p>
    <%= f.submit "ok" %>
  </p>
<% end %>


