


<%= form_for :uanswer, url: check_quiz_user_path(question_id: @question, user_id: @user.id), :method => :post do |f|%>
      <div class="col-sm-7">
      <div class="quest-section">
      <div class="question"><%= @question.question %></div>
        <% @choices.each do |choice| %>
       <div class="margin-btm">
        <%= f.radio_button :choosen_answer,  choice.qoption_id %>
        <label for="uanswer_choosen_answer_<%= choice.qoption_id %>" class="normal"><span><span></span></span><%= choice.qoption_text %></label>
      </div>
      <% end %>
      </div>
      <div class="btn-margin-top">
        <%= f.submit "Next", :class => "btn btn-primary btn-margin-right"%>
        <!-- <button class="btn btn-primary btn-margin-right" type="submit">Next</button> -->
        <button class="btn btn-default" type="submit">Back</button>
      </div>

    </div>
<% end %>
