<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ConfPromo</title>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body id="pop">
	<nav class="navbar navbar-default">
		<div class="container-fluid" id="top">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="logo" href="index.html"><%= image_tag asset_path("qwinix-logo.png"),:class =>"logo", :alt => "logo" %>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<a href="#" class="navbar-right intro">Introduction</a>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

 <div class="container" id="results">
  <%= yield %>
  <footer>
    Qwinix Technologies. All rights reserved @2015 
  </footer>
</div>

</body>
</html>


  <script type="text/javascript">
   $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
 </script>
